/* $sizes-mobile: 786px; */
/* $content-padding: 10%; */

:root {
  --zIndex-overlay: 900;
  --zIndex-navbar: 905;
  --colors-text: white;
  --colors-background: black;
  --colors-contast: #f4e285;
}


.menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
   bottom: 0;
  z-index: var(--zIndex-overlay);
  width: 0;
  /* opacity: 0; */
  background-color: rgba(0, 0, 0, 0.7);
}

.menu-content {
  width: 50%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  display: flex;
  align-items: center;

  transition-delay: 0.1s;

  background-color: var(--colors-background);
}

.menu-list {
  list-style: none;
  width: 100%; 
  display: flex;
  flex-direction: column;
align-items: center;

}

/* .menu-list>li{
    width: fit-content;
    overflow: hidden;
} */
#burger{
  background-color: rgba(0, 0, 0, 0.555);
      border-radius:50% ;
      display: flex;
      justify-content: center;
      align-items: center;
}



@media screen and (max-width: 900px) {
 
    #burger {
      display: block !important;
      
    }
    
  } 


@media screen and (max-width: 768px) {
  .menu-content {
    width: 100%;
  }


}


#burger {
  display: none;
  position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    border: none;
   
    color: white;
    font-size: 2em;
    cursor: pointer;
}