.sliderSection{
    background-color: #F0F0F0;
    height: 100vh;
    width: 80%;
    
}

.sliderSection>h2{
    font-size: 2em;
}

.owl-carousel{
    margin-top: 25px ;
    padding: 20px 20px;
    box-sizing: border-box;
    width: 60%;
    position: relative;
}


.SliderItem{
    position: relative;
    background-color: #fff;
    height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: all 0.1s ease-out;
}

.SliderItem:hover{
    opacity: 0.7;
}

.SliderImg{
    width: 100%;
    height: 50%;
    background-size: cover;
}


div[data-index = "1"]{
    background-image: url("image/pexels-graphicgumcom-1115804.jpg");
}

div[data-index = "2"]{
    background-image: url("image/pexels-jean-van-der-meulen-1457842.jpg");
}
div[data-index = "3"]{
    background-image: url("image/pexels-terry-magallanes-2631746.jpg");
}

.SliderText{
    width: 100%;
    height: 50%;
    text-align: center;
}

.SliderText>.flex{
    justify-content: center;
}


.SliderText>.flex>i{
 margin: 0 2px 0 0 ;
}


.SliderText>.flex>.icon{
    margin: 0 0 0 20px;
}
.SliderButton{
    position: absolute;
    top: 45%;
    left: 40%;
    background-color: #FF004D;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 5px 10px;
}

.owl-prev,.owl-next{
    background-color: #fff !important;
    color: #a54f69  !important;
    border: 3px solid #FF004D  !important;
    border-radius: 50%  !important; 
    padding: 5px 10px  !important;
    top: 45%;
    position:absolute;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease-out;
}

.owl-next{
    right: 0;
}

.owl-prev{
    left: 0;
}

.owl-next:hover,.owl-prev:hover{
    width: 35px;
    height: 35px;
}

.SliderOfferBut{
    background-color: #FF004D;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s ease;
}

.SliderOfferBut:hover{
    background-color: #ad0235;

}
